.container {
    grid-template-areas: 'form image';
    grid-template-rows: 100vh;
}

.form-title {
    text-align: center;
}

.form-inputs {
    height: 100%;
}

.password-hint {
    display: none;
    color: var(--reject-btn-color);
}

.form-end input {
    margin: 0;
}

.form-end>input {
    margin-bottom: 8px;
}

.form-end input:nth-child(2) {
    margin-bottom: 96px;

    background-color: var(--reject-btn-color);
}